@charset "UTF-8";
/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
#button {
  width: 50%;
  /* 100% of parent container*/
  margin: 100px auto;
  line-height: 1.6; }
  @media (max-width: 500px) {
    #button {
      width: 90%; } }
  #button h3 {
    font-size: 20px !important;
    font-family: inherit;
    font-weight: 800;
    text-align: center; }
    @media (max-width: 1024px) and (orientation: portrait) {
      #button h3 {
        font-size: 20px !important; } }

#button-container {
  width: 100%;
  display: flex; }

#support-us {
  width: auto;
  background-color: #ffc423 !important;
  padding: 10px;
  outline: none;
  border: none;
  font-weight: 800;
  font-size: 18px;
  margin: auto;
  cursor: pointer;
  letter-spacing: 1px; }

/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
#logo-soc {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between; }

.logo {
  margin-left: 10px;
  height: 50px;
  width: 200px;
  grid-column: 1/2; }
  @media screen and (min-width: 1824px) {
    .logo {
      width: 150px; } }
  .logo a {
    height: 100%;
    display: flex; }
    .logo a img {
      margin: auto; }

#soc {
  position: fixed;
  top: 10px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px; }
  #soc div#translate {
    display: flex; }
  #soc a {
    margin: auto;
    text-decoration: none; }
  #soc a span {
    border-bottom: 1px dashed black;
    margin-right: 20px;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
    color: black !important;
    background-color: rgba(225, 225, 225, 0.7); }
    @media screen and (min-width: 1824px) {
      #soc a span {
        font-size: 14px; } }
  #soc i {
    font-size: 40px;
    color: #ff6156;
    margin: 0 0 0 0.5em;
    max-height: 1em; }
    @media screen and (min-device-width: 320px) and (max-device-width: 480px) {
      #soc i {
        font-size: 20px; } }
    #soc i:hover {
      color: pink; }

#cover-picture {
  width: 100%;
  height: auto; }

/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
/* Read more links */
.read-more {
  margin: 50px auto 100px auto;
  width: 80%; }
  .read-more h3 {
    font-family: inherit;
    width: auto;
    text-align: center;
    margin: 20px auto; }
  .read-more #read-more-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px; }
    @media screen and (min-device-width: 320px) and (max-device-width: 480px) {
      .read-more #read-more-items {
        display: block; } }
    .read-more #read-more-items a img {
      width: 100%; }

/* Created by Texty*/
#created_texty {
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  margin: 4em 15% 4em 15%; }
  #created_texty i {
    box-sizing: content-box;
    margin: 0.5em;
    cursor: pointer;
    width: 1em;
    height: 1em;
    border: 1px solid #616161;
    color: #a6a6a6;
    border-radius: 50%;
    padding: 0.5em;
    font-size: 2.0em;
    line-height: 1;
    transition: all 0.5s; }
    #created_texty i:hover {
      border: 1px solid #616161;
      color: #262626; }
  #created_texty img {
    max-height: 4em;
    width: 90%; }
  #created_texty div {
    text-align: center; }
  #created_texty h3 {
    text-align: center;
    font-size: 1.5rem; }

* {
  line-height: 1.6; }

.icon-arrow {
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 284.929 284.929'><path d='M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441	L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z'/></svg>"); }

.mobile {
  display: none; }
  @media (max-width: 800px) {
    .mobile {
      display: block; } }

.desktop {
  display: block; }
  @media (max-width: 800px) {
    .desktop {
      display: none; } }

body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  color: #33302e;
  background-color: #efeedf; }

h1 {
  grid-column: 1/-1;
  grid-row: 2/-1;
  margin: auto auto auto auto;
  font-size: 70px;
  color: white; }
  @media (max-width: 1200px) {
    h1 {
      font-size: 55px; } }
  @media (max-width: 800px) {
    h1 {
      width: 90%;
      margin: 20px auto;
      color: #33302e;
      text-align: left;
      font-size: 40px; } }

header {
  display: grid;
  margin-bottom: 100px;
  grid-template-rows: auto max-content; }
  @media (max-width: 800px) {
    header {
      display: block;
      min-height: 30vh;
      background-image: url("../img/cover_header.png");
      background-size: contain;
      margin-bottom: 10px; } }
  header img {
    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: -1;
    width: 100%; }
    @media (max-width: 800px) {
      header img {
        display: none; } }

#credits {
  font-size: 14px;
  margin: 30px auto;
  text-align: right; }

article {
  width: 100%;
  max-width: 1600px;
  margin: auto; }
  article h3 {
    width: 40%;
    margin: 20px auto;
    line-height: 2; }
    @media (max-width: 800px) {
      article h3 {
        width: 90%;
        margin: 20px auto; } }
  article p.text, article h2, article h4 {
    width: 40%;
    margin: 20px auto; }
    @media (max-width: 800px) {
      article p.text, article h2, article h4 {
        width: 90%;
        margin: 20px auto; } }
  article .currency {
    font-weight: normal;
    font-size: 14px; }
  article h2 {
    text-transform: uppercase;
    margin-top: 100px; }
  article h4 {
    margin-top: 40px;
    font-size: 20px; }
  article .chart-title {
    width: 300px;
    margin: 50px auto auto auto;
    font-size: 14px; }
    @media (max-width: 800px) {
      article .chart-title {
        width: max-content; } }
  article .description-text {
    width: 80%; }

.png_pic {
  display: block;
  width: 40%;
  margin: auto auto 80px auto; }
  @media (max-width: 800px) {
    .png_pic {
      width: 96%; } }

/* графіка в середині тексту */
#total-export-top,
#total-import-top,
#eu-export-top,
#ru-export-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  align-items: flex-end;
  justify-content: space-around;
  width: 80%;
  margin: -100px auto 80px auto; }
  @media (max-width: 800px) {
    #total-export-top,
    #total-import-top,
    #eu-export-top,
    #ru-export-top {
      width: 96%; } }
  #total-export-top .svg-wrapper,
  #total-import-top .svg-wrapper,
  #eu-export-top .svg-wrapper,
  #ru-export-top .svg-wrapper {
    margin-bottom: 50px; }
  #total-export-top .svg-wrapper.Exported, #total-export-top .svg-wrapper.Imported,
  #total-import-top .svg-wrapper.Exported,
  #total-import-top .svg-wrapper.Imported,
  #eu-export-top .svg-wrapper.Exported,
  #eu-export-top .svg-wrapper.Imported,
  #ru-export-top .svg-wrapper.Exported,
  #ru-export-top .svg-wrapper.Imported {
    display: block !important; }

/* поодинокі графічки */
#total-iron-chart,
#total-ceresals-chart,
#total-fats,
#cases-meet,
#cases-honey,
#ru-fertilizers,
#cases-wood {
  width: max-content;
  margin: 0 auto 50px auto; }
  #total-iron-chart .svg-wrapper,
  #total-ceresals-chart .svg-wrapper,
  #total-fats .svg-wrapper,
  #cases-meet .svg-wrapper,
  #cases-honey .svg-wrapper,
  #ru-fertilizers .svg-wrapper,
  #cases-wood .svg-wrapper {
    margin-top: 0; }
  #total-iron-chart .svg-wrapper.Exported, #total-iron-chart .svg-wrapper.Imported,
  #total-ceresals-chart .svg-wrapper.Exported,
  #total-ceresals-chart .svg-wrapper.Imported,
  #total-fats .svg-wrapper.Exported,
  #total-fats .svg-wrapper.Imported,
  #cases-meet .svg-wrapper.Exported,
  #cases-meet .svg-wrapper.Imported,
  #cases-honey .svg-wrapper.Exported,
  #cases-honey .svg-wrapper.Imported,
  #ru-fertilizers .svg-wrapper.Exported,
  #ru-fertilizers .svg-wrapper.Imported,
  #cases-wood .svg-wrapper.Exported,
  #cases-wood .svg-wrapper.Imported {
    display: block !important; }

/* інтерактивна графіка */
.line-chart-container, #cases-wrapper {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 300px auto; }
  @media (max-width: 800px) {
    .line-chart-container, #cases-wrapper {
      display: block;
      width: 90%; } }

@media (max-width: 800px) {
  .note {
    display: none !important; } }

/* кнопки росія-єс*/
#ru-eu {
  margin: 5px 10px;
  height: max-content;
  position: sticky;
  top: 0;
  background-color: #efeedf; }
  @media (max-width: 800px) {
    #ru-eu {
      width: 100%;
      margin: 0; } }
  #ru-eu p {
    cursor: pointer;
    text-align: center;
    width: 200px;
    padding: 5px;
    display: block; }

#show-all {
  background-color: grey;
  border: 1px solid grey;
  color: #efeedf; }

#show-eu, #show-ru, #show-usa, #show-asia, #show-africa {
  border: 1px solid grey;
  color: grey; }

/* кнопки експорт-іпморт */
.buttons {
  margin: 5px auto; }

.buttons-mob {
  display: none; }
  @media (max-width: 800px) {
    .buttons-mob {
      display: block; } }

.switch-button {
  cursor: pointer;
  text-align: center;
  width: 100px;
  padding: 5px;
  display: inline-block; }

#show-import, #show-import-cases {
  cursor: pointer;
  background-color: #1864aa;
  border: 1px solid #1864aa;
  color: #efeedf; }

#show-export, #show-export-cases {
  cursor: pointer;
  border: 1px solid #ff6156;
  color: #ff6156; }

#redraw {
  cursor: pointer;
  width: max-content; }

#sticky-content {
  grid-row: 1/2;
  grid-column: 2/3; }
  @media (max-width: 800px) {
    #sticky-content {
      position: sticky;
      top: 0;
      background-color: #efeedf;
      padding-bottom: 20px; } }

#general-wrapper {
  grid-column: 2/3; }

#general-chart {
  grid-column: 2/3;
  width: calc(80% - 10%);
  height: 300px; }
  @media (max-width: 800px) {
    #general-chart {
      width: 100%;
      height: 200px; } }
  #general-chart svg text {
    font-size: 13px; }
    @media (max-width: 800px) {
      #general-chart svg text {
        font-size: 10px; } }

#ru-eu.buttons {
  grid-column: 1/2;
  grid-row: 2/4; }
  @media (max-width: 800px) {
    #ru-eu.buttons {
      display: none; } }

select {
  display: none; }
  @media (max-width: 800px) {
    select {
      display: block;
      font-family: 'Noto Sans', sans-serif;
      font-size: 16px;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
      background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-position-y: 5px;
      border: 1px solid #dfdfdf;
      border-radius: 2px;
      margin-right: 2rem;
      padding: 0.5rem;
      padding-right: 2rem; } }

#top5-wrapper {
  grid-column: 2/3; }

#line-chart, #cases-chart {
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 50px; }

#line-chart {
  margin-top: -50px; }

.svg-wrapper {
  margin: 50px auto 50px 0;
  display: flex;
  flex-direction: column; }

.svg-wrapper.Exported {
  display: none; }

.svg-title {
  font-size: 13px;
  text-align: center; }

.redline, .blueline, .valueline1 {
  stroke-width: 2px;
  fill: none; }

#tooltip {
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: grey;
  color: #efeedf;
  font-size: 12px;
  display: none; }

g.tick > line {
  stroke-width: 0.5px;
  stroke: lighgrey; }

g.tick > text {
  fill: grey; }

path.domain {
  display: none; }

/*# sourceMappingURL=styles.css.map */
