@import "variables";

/* Read more links */
.read-more {
  margin: 50px auto 100px auto;
  width: 80%;

  h3 {
    font-family: inherit;
    width:auto;
    text-align: center;
    margin:20px auto;

  }


  #read-more-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    @media #{$mobile}{
      display:block;
    }

    a {
      img {
        width: 100%;
      }
    }
  }
}


/* Created by Texty*/
#created_texty {
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  margin: 4em 15% 4em 15%;

  i {
    box-sizing: content-box;
    margin: 0.5em;
    cursor: pointer;
    width: 1em;
    height: 1em;
    border: 1px solid lighten($grey-color, 15%);
    color: lighten(grey, 15%);
    border-radius: 50%;
    padding: 0.5em;
    font-size: 2.0em;
    line-height: 1;
    transition: all 0.5s;

    &:hover {
      border: 1px solid lighten($grey-color, 15%);
      color: lighten(black, 15%);
    }
  }

  img {
    max-height: 4em;
    width: 90%;
  }

  div {
    text-align: center;
  }

  h3 {
    text-align: center;
    font-size: 1.5rem;
  }
}


