@import "variables";
@import "donate";
@import "header";
@import "footer";


* {
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0;
  //font-family: 'Roboto', sans-serif;
  //font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Slab', serif;

  color: #33302e;
}

header {
  background-color: #f2dfce;
  display:flex;
  min-height: 200px;


  h1 {
    margin: auto;
    text-align: center;
    font-size: 30px;
  }
}


  #data-vis {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 100px;
    @media(max-width: 800px) and (orientation: portrait) {
      display: block;
    }
  }


  #graphics {
    grid-column: 2/3;
    grid-row: 1/2;
    position: sticky;
    top: 10px;
    width: 100%;
    height: max-content;


  }

  #line-chart {
    grid-column: 2/3;
  }

  ul#my-list {
    padding-inline-start: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    @media(max-width: 800px) and (orientation: portrait) {
      height: 30vh;
      overflow: auto;
    }
  }

  ul {
    list-style-type: none;
  }

  li {
    cursor: pointer;
    margin:10px 0;
  }

  li.main {
    font-weight: bold;
    margin-top: 10px;
  }

  li.subgroup {
    padding-left: 20px;
    display: none;
  }

  .main-category {
    cursor:pointer;
    margin:10px 0;
    padding-left: 10px
  }


  .detail-category {
    transition: all 0.5s ease-out;
  }

  .hide {
    height: 0;
    overflow:hidden;
  }

  //line chart
  #linechart-title {
    text-align: center;
    font-weight: bold;
  }

  svg {
    display: block;
  }

  .valueline1, .valueline2 {
    stroke-width: 2px;
  }

  .valueline1 {
    fill: none;
    stroke: green;
  }

  .valueline2 {
    fill: none;
    stroke: red;
  }


  rect.selection {
    stroke: black;
    fill: grey;
    fill-opacity: 0.3;
    stroke-opacity: 0.3;
  }


  //sankey

  #sankey-annotation {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
  }

  #selected-years {
    font-weight: bold;
    text-decoration: underline;
  }

  path.line {
    fill: none;
    stroke: grey;
  }

