@import "variables";
@import "donate";
@import "header";
@import "footer";


* {
  line-height: 1.6;
}

.icon-arrow {
  mask:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 284.929 284.929'><path d='M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441	L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z'/></svg>");
}

body {
  margin: 0;
  padding: 0;
  //font-family: 'Roboto', sans-serif;
  //font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Slab', serif;

  color: #33302e;
}

.text {
  width: 50%;
  margin:50px auto;
  @media(max-width:800px) {
    width: 80%;
  }
}

header {
  background: grey;
  display:flex;
  min-height: 200px;
  color: white;

  div {
    margin: auto;
  }


  h1 {
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
  }
}

  #scrolly {
    position: relative;
    display:grid;
    grid-template-columns: 0.8fr 2fr;
    @media(max-width: 800px) and (orientation: portrait) {
      display: block;
    }
  }

  #intro {
    grid-column: 2/3;
    grid-row: 1/2;
    position: sticky;
    left: 0;
    width: 80%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    top: 0;
    max-width: 1200px;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    padding-bottom: 50px;
    height: max-content;
    @media(max-width: 800px) and (orientation: portrait) {
      display: block;
      position: relative;
    }

    * {
      z-index: 0
    }

    p {
      text-align: center;
      font-weight: 600;
    }
  }


  article {
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 10000;

    * {
      z-index: 10000;
    }
  }

  .step {
    width: 80%;
    margin:auto;
    min-height: 100vh;
    z-index: 100000;
    @media(max-width:800px) {
      min-height: 0;
    }

    p {
      padding: 5px;

    }
  }

 svg#map {
   grid-column: 2/3;
   width: 100%;
   margin: 50px auto;
 }


 table td {
   padding: 0;
   font-size: 14px;
   @media(max-width:800px) {
     display: block;
   }

 }




 .examples {
   width: 80%;
   margin: auto;
   display: flex;
   justify-content: space-around;

   img {
     height: 500px;
     //margin:auto;
   }
 }


  #data-vis {
    position: relative;
    width: 96%;
    max-width: 1200px;
    margin: 100px auto 0 auto;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 100px;
    @media(max-width: 800px) and (orientation: portrait) {
      display: block;
    }
  }


  #graphics {
    grid-column: 2/3;
    grid-row: 1/2;
    position: sticky;
    top: 10px;
    width: 100%;
    height: max-content;

    p {
      width: 100%;
    }
  }

  #line-chart {
    grid-column: 2/3;
  }

  ul#my-list {
    padding-inline-start: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    @media(max-width: 800px) and (orientation: portrait) {
      height: 30vh;
      overflow: auto;
    }
  }

  ul {
    list-style-type: none;
  }

  li {
    cursor: pointer;
    margin:10px 0;
  }

  li.main {
    font-weight: bold;
    margin-top: 10px;
  }

  .main.c2::before,
  .main.c3::before,
  .main.c4::before,
  .main.c7::before,
  .main.c8::before,
  .main.c9::before,
  .main.c10::before {
    content: "+ ";
  }


.main.c2.clicked::before,
.main.c3.clicked::before,
.main.c4.clicked::before,
.main.c7.clicked::before,
.main.c8.clicked::before,
.main.c9.clicked::before,
.main.c10.clicked::before  {
    content: "- " !important;
  }



  li.subgroup {
    padding-left: 20px;
    display: none;
  }

  .main-category {
    cursor:pointer;
    margin:10px 0;
    padding-left: 10px
  }


  .detail-category {
    transition: all 0.5s ease-out;
  }

  .hide {
    height: 0;
    overflow:hidden;
  }

  //line chart
  #linechart-title {
    text-align: center;
    font-weight: bold;
  }

  svg {
    display: block;
  }

  .valueline1, .valueline2 {
    stroke-width: 2px;
  }

  .valueline1 {
    fill: none;
    stroke: green;
  }

  .valueline2 {
    fill: none;
    stroke: red;
  }


  rect.selection {
    stroke: black;
    fill: grey;
    fill-opacity: 0.3;
    stroke-opacity: 0.3;
  }


  //sankey

  #sankey-annotation {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
  }

  #selected-years {
    font-weight: bold;
    text-decoration: underline;
  }

  path.line {
    fill: none;
    stroke: grey;
  }

  .overlay {
    fill: transparent;

  }

